/*
    Components: Headmast
    ---
    Big hero component
*/

.c-headmast {
    position: relative;
    display: flex;
    align-items: center;
    @include padding-tb(10,4);

    @include mq(bp4) {
        min-height: 650px;
    }
}

.c-headmast--lg {
    @include mq(bp4) {
        height: 100vh;
    }
}

    .c-headmast__video {
        display: none;

        @include mq(bp4) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: -1;
            top: 100px;
            left: 0;
            width: 100%;
            opacity: 0;
            animation-name: fadeInDown;
            animation-duration: 5s;
            animation-delay: .5s;
            animation-timing-function: cubic-bezier(0, 0, .2, 1);
            animation-fill-mode: forwards;

            > video {
                width: 100%;
            }
        }
    }

    .c-headmast__background {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;

        > img {
            width: 100%;
        }
    }

    .c-headmast__body {
        position: relative;
        z-index: 2;
        width: 100%;
        @include padding-lr(2,2);

        @include mq(bp5) {
            @include padding-lr(3,3);
        }
    }

    .c-headmast__logo {
        display: block;
        text-align: center;
        @include margin-bottom(2);
        @include padding-lr(2,2);

        @include mq(bp4) {
            padding: 0;
            @include margin-bottom(4);
        }
    }

    .c-headmast__next {
        display: none;

        @include mq(bp4) {
            display: block;
            position: absolute;
            z-index: 2;
            bottom: 100px;
            left: 0;
            transform: rotate(-90deg);
        }
    }

.c-headmast--sm {
    @include mq(bp4) {
        display: flex;
        align-items: center;
        height: 95vh;
        @include padding-tb(9,4);
    }
}
