/*
    Component: timeline
    ---
    Schedule timeline component showing tracks on certain timeslots
*/

.c-timeline {
    display: flex;
    overflow: hidden;
    @include margin-lr(-2,-2);

    @include mq(bp4) {
        margin: 0;
    }
}

    .c-timeline__slots {
        min-width: 80px;
        padding-top: 50px;

        > span {
            position: relative;
            display: block;
            height: 100px;
            text-align: center;
            font-weight: bold;
            @include padding-tb(1.25,1.25);

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                width: 1500px;
                border-top: 1px solid palette(color-neutral, x-dark);
            }
        }

        @include mq(bp3) {
            min-width: 100px;
        }
    }

    .c-timeline__tracks {
        display: flex;
        flex: 1;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .c-timeline__header {
        text-align: center;
        @include padding-tb(1,1);
    }

    .c-timeline__col {
        flex: 1;
        min-width: 245px;
    }

    .c-timeline__item-wrapper {
        position: relative;
    }

    .c-timeline__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 0;
        width: 100%;
        border: 5px solid palette(color-neutral, xx-dark);
        background-color: palette(color-neutral, x-dark);
        transition: all $animation-duration-alpha $animation-easing-alpha;
        overflow: hidden;
        @include padding-lr(.75,.75);
        @include padding-tb(.5,.75);

        &,
        &:visited {
            color: palette(color-neutral, x-light);
        }

        &:hover {
            z-index: 2;
            background-color: lighten(palette(color-neutral, xx-dark), 10%);
            box-shadow: 0 20px 40px rgba(palette(color-neutral, xx-dark), .5);
        }
    }

    .c-timeline__title {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
    }

    .c-timeline__event {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 300%;
        border: 5px solid palette(color-neutral, xx-dark);
        font-weight: bold;
        @include padding-tb(.75,.75);
    }

    .c-timeline__event--break {
        background: url('../img/png/bg-break.png');
        background-size: 200px;
    }

    .c-timeline__event--main {
        background-color: palette(color-alpha);
    }

    .c-timeline__event--end {
        background: linear-gradient(to bottom, palette(color-neutral, dark) 0%, palette(color-neutral, xx-dark) 100%);
    }
