/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

.c-logo {
    position: relative;
    z-index: 5;
    display: block;
    width: 130px; /* [1] */
    height: 30px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/svg/logo.svg');
    background-size: contain;
    text-indent: -99999px; /* [2] */
    @include text-dimensions($alpha-font-size,1,0);
}

    .c-logo__link {
        display: block;
        height: 100%;
    }

.c-logo--shift {
    width: 100px;
    height: 43px;
    background-image: url('../img/svg/logo-shift-sm.svg');
}
