/*
    Components: Titles
    ---
    Title styles
*/

.c-title-page {
    @include mq(bp4) {
        @include ms9();
    }
}

.c-title-intro {
    padding-top: 20vh;
    @include ms9(2.5);

    @include mq(bp3) {
        padding-top: 0;
        font-size: 100px;
        line-height: 1em;
    }
    @include mq(bp4) {
        font-size: 140px;
        line-height: 1em;
    }
}

.c-title-animation {
    > span {
        position: relative;
        display: inline-block;
        animation-name: animRevealMask;
        animation-duration: .8s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

        &::after {
            content: '';
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: palette(color-neutral, x-light);
            transform: scaleX(0);
            transform-origin: 0 50%;
            pointer-events: none;
            animation-name: animRevealText;
            animation-duration: .8s;
            animation-fill-mode: both;
        }
    }

    > span:nth-child(1) {
        animation-delay: 1s;
        &::after {
            animation-delay: 1s;
        }
    }

    > span:nth-child(2) {
        animation-delay: 1.2s;
        &::after {
            animation-delay: 1.2s;
        }
    }

    > span:nth-child(3) {
        animation-delay: 1.4s;
        &::after {
            animation-delay: 1.4s;
        }
    }
}

.c-title-section {
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(palette(color-neutral, xx-dark), .5);
    letter-spacing: 1px;
    @include padding-tb(1,1);
    @include mq(bp3) {
        @include ms6();
    }
    @include mq(bp4) {
        @include ms9(2.5);
        @include margin-bottom(2);
    }
}

.c-title-cta {
    color: palette(color-alpha);
    @include mq(bp4) {
        @include ms10();
    }
}
