/*
    Components: Links
    ---
    Link styles
*/

.c-link {
    text-decoration: none;
    font-weight: $beta-font-weight;
    transition: all $animation-duration-alpha $animation-easing-alpha;
}

.c-link--neutral {
    &,
    &:visited {
        color: palette(color-neutral);
    }

    &:hover {
        color: palette(color-neutral, x-light);
    }
}

    .c-link__arrow {
        vertical-align: middle;
    }

.c-link-social {
    display: inline-block;
    padding: 1rem;
    width: 60px;
    margin: 0 .5rem;
    background: url('../img/svg/social-detail.svg') no-repeat left -50px center;
    background-size: contain;
    transition: all $animation-duration-alpha $animation-easing-alpha;

    > img {
        vertical-align: middle;
    }

    &:hover {
        background-position: center center;
    }
}
