/*
    Components: Venue
    ---
    Venue component showing venue image and map with details.
*/

.c-venue {
    display: flex;
    flex-direction: column;
    position: relative;

    @include mq(bp3) {
        @include padding-top(3);
    }

    @include mq(bp5) {
        @include padding-top(7);
    }
}

    .c-venue__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;

        @include mq(bp4) {
            margin-top: -100px;
            z-index: 3;
        }

        @include mq(bp5) {
            margin-top: -200px;
        }
    }
