/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    display: none;

    @include mq(bp4) {
        display: block;
        width: auto;
        @include padding-top(.5);
    }
}

    .c-nav-main__list {
        border-top: 1px dotted palette(color-neutral,light);

        @include mq(bp4) {
            display: flex;
            align-items: center;
            border-top: 0;
            margin-bottom: 0;
        }
    }

    .c-nav-main__item {
        font-family: $gamma-font-family;

        @include mq(bp4) {
            @include margin-lr(2,0);
        }
    }

    .c-nav-main__link {
        display: block;
        text-decoration: none;
        font-weight: $beta-font-weight;
        transition: all $animation-duration-alpha $animation-easing-alpha;

        &,
        &:visited {
            color: palette(color-neutral, x-light);
        }

        &:hover,
        .is-selected & {
            color: palette(color-alpha);
            text-decoration: none;
        }
    }

.c-nav-trigger {
    user-select: none;
    position: absolute;
    z-index: map-get($z-indexes, delta);
    top: 0;
    right: 0;
    display: block;
    outline: 0;

    @include mq(bp4) {
        display: none;
    }
}

    .c-nav-trigger__top,
    .c-nav-trigger__middle,
    .c-nav-trigger__bottom {
        display: block;
        background-color: palette(color-neutral, x-light);
        transform-origin: 50%;
        transition: all $animation-duration-beta;
        margin: 6px 0;
        width: 28px;
        height: 3px;
    }

    .c-nav-trigger__top {
        .has-open-nav & {
            transform: translateY(9px) rotate(45deg);
        }
    }

    .c-nav-trigger__middle {
        .has-open-nav & {
            opacity: 0;
        }
    }

    .c-nav-trigger__bottom {
        .has-open-nav & {
            transform: translateY(-9px) rotate(-45deg);
        }
    }

// Mobile nav

.c-nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: map-get($z-indexes, gamma);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: palette(color-neutral, xx-dark);
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    transition: clip-path .5s cubic-bezier(0, .5, 0, 1);
    pointer-events: none;
    overflow: hidden;

    .has-open-nav & {
        clip-path: inset(0 0 0 0);
        pointer-events: auto;
    }
}

    .c-nav-mobile__list {
        margin: 0;
        padding: 0;
        opacity: 0;
        transform: translateY(-20px);
        transition: all .5s ease-out;
        @include padding-lr(2,2);

        .has-open-nav & {
            opacity: 1;
            transform: translateY(0);
        }

        @include mq(bp3) {
            @include padding-lr(4,4);
        }
    }

    .c-nav-mobile__item {
        text-align: center;
        @include ms3();

        & + & {
            @include padding-top(1);
        }

        @include mq(bp3) {
            @include ms5();

            & + & {
                @include padding-top(1.5);
            }
        }
    }

    .c-nav-mobile__link {
        font-weight: $beta-font-weight;
        font-family: $beta-font-family;
        text-transform: uppercase;
        letter-spacing: 1px;

        &,
        &:visited {
            color: palette(color-neutral, x-light);
        }

        &:hover {
            text-decoration: none;
        }
    }
