/*
    Components: Header
    ---
    The site header
*/

.c-header {
    position: absolute;
    z-index: 5;
    width: 100%;
    background: linear-gradient(to bottom, palette(color-neutral, xx-dark) 0%, rgba(palette(color-neutral, xx-dark), 0) 100%);
    @include padding-tb(1.5,1.5);
    @include padding-lr(2,2);

    @include mq(bp4) {
        @include padding-tb(3,5);
    }

    @include mq(bp5) {
        @include padding-lr(3,3);
    }
}
