/*
    Components: Cards
    ---
    A card displays site content in a manner similar to a playing card.
*/

.c-card {
    @include padding-tb(2,2);
    @include padding-lr(2,2);
    @include margin-bottom(1);

    @include mq(bp4) {
        @include padding-tb(3,3);
        @include padding-lr(3,3);
    }

    &.is-disabled {
        position: relative;
        // background-color: palette(color-neutral, xx-dark);
        filter: grayscale(100);

        * {
            // color: palette(color-neutral, x-light);
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            // background-color: rgba(palette(color-neutral, x-light), .9);
            color: palette(color-neutral);
            font-weight: $beta-font-weight;
            font-family: $beta-font-family;
            text-shadow: 2px 0 white;
            @include ms8();
        }

        &::before {
            content: '';
            position: absolute;
            // z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(palette(color-neutral, x-light), .75) no-repeat center;
            background-size: 100% 100%;
        }
    }
}
    // Reset bottom margins on children to make equal paddings possible
    .c-card > *:last-child,
    .c-card > *:last-child > *:last-child,
    .c-card > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

.c-card--alpha {
    color: palette(color-neutral,dark);
    background-color: palette(color-neutral,x-light);
    box-shadow: 0 0 20px rgba(palette(color-neutral, xx-dark), .25);
}

.c-card--beta {
    background-color: lighten(palette(color-neutral, xx-dark), 8%);
    box-shadow: 0 0 20px rgba(palette(color-neutral, xx-dark), .25);
}

.c-card--link {
    display: block;
    transition: all $animation-duration-beta $animation-easing-alpha;

    &,
    &:visited {
        color: palette(color-neutral, xx-dark);
    }

    &:hover {
        box-shadow: 0 0 50px palette(color-alpha);
    }
}

    .c-card__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
