/*
    Components: Speaker
    ---
    Conference speaker
*/

.c-speaker {
    cursor: pointer;

    &:hover > .c-speaker__image {
        transform: scale(1.02);
        @include padding-lr(1.25,1.25);
        @include padding-tb(1.25,1.25);
    }

    &:hover > .c-speaker__name {
        transform: translateX(-5px);
    }
}

    .c-speaker__image {
        position: relative;
        z-index: 0;
        border-radius: 50%;
        border: 1px solid rgba(palette(color-neutral), .35);
        transition: all $animation-duration-beta $animation-easing-alpha;
        @include padding-lr(1.5,1.5);
        @include padding-tb(1.5,1.5);
        @include margin-bottom(1);
    }

    .c-speaker__name {
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: -25%;
        text-shadow: 0 2px 10px palette(color-neutral, xx-dark);
        transition: all $animation-duration-beta $animation-easing-alpha;
        @include margin-bottom(.5);

        @include mq(bp4) {
            @include ms4(1.5);
        }
    }

    .c-speaker__name--sm {
        margin-top: 0;

        @include mq(bp4) {
            @include ms2(1);
        }
    }

    .c-speaker__title {
        @include margin-bottom(.5);
    }

    .c-speaker__track {
        font-weight: bold;
        color: palette(color-alpha);
    }

// Large speaker overview

.c-speaker-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .c-speaker-overview__time {
        position: relative;
        font-weight: $beta-font-weight;
        font-family: $beta-font-family;
        text-transform: uppercase;
        text-align: center;
        @include ms3();
        @include padding-tb(6,1);

        > span {
            display: block;
            position: absolute;
            top: 0px;
            left: 50%;
            width: 1px;
            height: 6rem;
            background-color: palette(color-neutral, x-dark);
        }

        @include mq(bp5) {
            @include ms5();
        }
    }

    .c-speaker-overview__entry {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include padding-tb(1,1);

        @include mq(bp4) {
            flex-direction: row;
        }
    }

    .c-speaker-overview__entry--rev {
        @include mq(bp4) {
            flex-direction: row-reverse;
        }
    }

    .c-speaker-overview__image {
        position: relative;
        z-index: 1;
        flex-basis: 50%;
        @include margin-bottom(1);
        @include padding-lr(2,2);

        @include mq(bp4) {
            flex-basis: 50%;
            @include padding-lr(3,3);
        }
        @include mq(bp5) {
            flex-basis: 40%;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: 2rem;
            left: 0;
            height: 5px;
            width: 105%;
            background-color: palette(color-neutral, x-light);
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 4rem;
            left: 0;
            height: 20px;
            width: 150px;
            background-color: palette(color-neutral, x-light);
        }

        .c-speaker-overview__entry--rev &::before {
            left: auto;
            right: 0;
        }

        .c-speaker-overview__entry--rev &::after {
            left: auto;
            right: 0;
        }

        > img {
            box-shadow: 0 20px 100px rgba(palette(color-neutral, xx-dark), 1);
        }
    }

    .c-speaker-overview__mask {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: palette(color-neutral, xx-dark);
    }

    .c-speaker-overview__desc {
        @include mq(bp4) {
            flex-basis: 50%;
            @include padding-lr(2,2);
        }
        @include mq(bp5) {
            flex-basis: 40%;
        }
    }
