/*
    Components: Typography
    ---
    Typographic styles like introduction styles, dropcaps, ...
*/

.c-typo-lead {
    font-weight: 300;
    font-family: $gamma-font-family;
    @include ms3(1.25);
}

.c-typo-lead--lg {
    @include mq(bp4) {
        @include ms5(1.75);
        @include margin-bottom(3);
    }

    @include mq(bp6) {
        @include ms6(2);
    }
}

.c-typo-dropcap {
    position: relative;
    z-index: 1;

    &::before {
        content: attr(data-dropcap);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        color: palette(color-neutral, x-dark);
        font-size: 130px;
        font-weight: bold;
        font-family: $beta-font-family;
        transform: translateX(-25%);
    }

    @include mq(bp4) {
        &::before {
            font-size: 300px;
            transform: translate(-50%,30%);
        }
    }
}

.c-typo-caps {
    font-weight: $beta-font-weight;
    font-family: $beta-font-family;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include ms3(1.25);

    @include mq(bp4) {
        @include ms5(1.75);
    }

    @include mq(bp6) {
        @include ms6(2);
    }
}

.c-typo-price {
    font-weight: $beta-font-weight;
    font-family: $beta-font-family;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include ms6(1);
}

.c-typo-quote {
    font-weight: $beta-font-weight;
    @include padding-lr(1,1);
}

    .c-typo-quote__footer {
        font-weight: $alpha-font-weight;
        @include ms0();
    }

.c-typo-rule {
    display: inline-block;
    border-top: 3px solid palette(color-alpha);
    width: 100px;

    @include mq(bp4) {
        @include margin-tb(2,2);
    }
}

.c-typo-micro {
    color: palette(color-neutral, dark);
    font-weight: $beta-font-weight;
    font-family: $beta-font-family;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include ms0();
}
