/*
    Components: SVG
    ---
    Inline SVG components
*/

.svg-rect {
    transform: scaleX(0);
    animation-name: animRect;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.svg-code-01 {
    .c-venue & {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 150px;
        transform: translateX(-50%);
    }
}

.svg-code-02 {
    .c-venue & {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
    }
}

.svg-code-03 {
    .c-speaker-overview & {
        position: absolute;
        right: 0;
        top: 0;
    }
    .c-title-cta & {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.svg-code-04 {
    .c-speaker-overview & {
        position: absolute;
        left: 0;
        top: 0;
    }
    .c-title-cta & {
        position: absolute;
        right: 0;
        top: 0;
    }
}
