/*
    Components: Buttons
    ---
    Button styles, sizes, etc.
*/

/**
 *  1. The user agent may consider touches that begin on the element
 *     only for the purposes of scrolling and continuous zooming.
 *  2. Reset unusual Firefox-on-Android default style.
 *     see https://github.com/necolas/normalize.css/issues/214
 *  3. Sequences of whitespace will collapse into a single whitespace.
 *     Text will never wrap to the next line.
 *     The text continues on the same line until a <br> tag is encountered.
 *  4. Controls the application of anti-aliasing when fonts are rendered.
 *     Webkit & Firefox implements.
 *     Works only on Mac OS X platform.
 */

.c-button {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    touch-action: manipulation; /* [1] */
    background-image: none; /* [2] */
    white-space: nowrap; /* [3] */
    border-radius: $radius;
    border-style: solid;
    border-width: 1px;
    transition-duration: $animation-duration-alpha;
    transition-timing-function: $animation-easing-alpha;
    transition-property: background, color, border;
    outline: none;
    line-height: normal;
    appearance: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased; /* [4] */
    -moz-osx-font-smoothing: grayscale; /* [4] */
    font-weight: $beta-font-weight;
    font-family: $beta-font-family;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        outline: 0;
        background-image: none;
    }

    &[disabled],
    &[disabled]:hover {
        background: palette(color-neutral,light);
        color: palette(color-neutral);
        border: palette(color-neutral);
    }
}

// Button display

.c-button--block {
    display: block;
    width: 100%;
}

// Button sizes

.c-button--sm {
    @include padding-lr(.75,.75);
    @include input-dimensions($ms-2,1,0,.5,.5);
}

.c-button--md {
    @include padding-lr(1,1);
    @include input-dimensions($ms-1,1,0,.75,.75);
}

.c-button--lg {
    @include padding-lr(1,1);
    @include input-dimensions($ms-1,1,0,.75,.75);

    @include mq(bp4) {
        @include padding-lr(1.25,1.25);
        @include input-dimensions($alpha-font-size,1,0,1,1);
    }
}

// Button colors

.c-button--alpha {
    background-color: palette(color-alpha);
    border-color: palette(color-alpha);

    &,
    &:visited {
        color: palette(color-neutral,x-light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-alpha,dark);
        border-color: palette(color-alpha,dark);
        color: palette(color-neutral,x-light);
    }

    &:active {
        background-color: palette(color-alpha);
    }

}

.c-button--beta {
    background-color: palette(color-neutral, x-light);
    border-color: palette(color-neutral, x-light);

    &,
    &:visited {
        color: palette(color-neutral, x-dark);
    }

    &:hover,
    &:focus {
        background-color: palette(color-neutral, light);
        color: palette(color-neutral, x-dark);
    }

    &:active {
        background-color: palette(color-beta);
    }
}

// Modifiers

.c-button--postfix {
    border-radius: 0 $radius $radius;
}
