/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb(2,1);
    @include padding-lr(2,2);

    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp5) {
        @include padding-tb(6,5);
        @include padding-lr(3,3);
    }
}
