/*
    Components: Forms
    ---
    Label styles
*/

// Labels
.c-label {
    color: palette(color-neutral);
    font-weight: $beta-font-weight;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include text-dimensions($ms-2,1,.25);

    &.has-error {
        color: palette(color-error);
    }
}

.c-label--option {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}
