/*
    Generic: Animations
    ---
    UI animations
*/

@keyframes animRevealMask {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes animRevealText {
    0%,
    50% {
        transform-origin: 0 50%;
    }

    100%,
    60% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0%, 0);
    }
}

@keyframes animRect {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}

// Scroll Animations

[data-aos="animTime"] {
    > span {
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform 1s cubic-bezier(0, .7, 0, 1);
    }

    > span + div {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 1s cubic-bezier(0, .7, 0, 1);
        transition-delay: .5s;
    }

    > span + div + div {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 1s cubic-bezier(0, .7, 0, 1);
        transition-delay: .75s;
    }

    &.aos-animate > span {
        transform: scaleY(1);
    }
    &.aos-animate > span + div {
        opacity: 1;
        transform: translateY(0);
    }
    &.aos-animate > span + div + div {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos="animSpeaker"] {
    > .c-speaker-overview__mask {
        transform-origin: 100% 0;
        transition: transform 1s cubic-bezier(0, 0, .2, 1);
    }

    &.aos-animate > .c-speaker-overview__mask {
        transform: scaleX(0);
    }
}
