/*
    Generic: Font embedding
    ---
    Embedding the Flama webfont
*/
@font-face {
    font-family: 'flama book';
    src: url("../fonts/Flama-Book.woff");
    font-weight: normal;
}

@font-face {
    font-family: 'flama semicondensed';
    src: url("../fonts/FlamaSemicondensed-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: 'flama semicondensed';
    src: url("../fonts/FlamaSemicondensed-Book.woff");
    font-weight: normal;
}

@font-face {
    font-family: 'flama semicondensed';
    src: url("../fonts/FlamaSemicondensed-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: 'flama condensed';
    src: url("../fonts/FlamaCondensed-Bold.woff");
    font-weight: bold;
}
