/*
    Objects: Parallax
    ---
    Parallax motion by making use of CSS perspective
*/

.o-parallax-container {
    .has-open-nav & {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    @include mq(bp4) {
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.o-parallax-subtle {
    @include mq(bp4) {
        transform: translateZ(-.1px) scale(1.1);
    }
}
