/*
    Plugins: modal
    ---
    Bootstrap modal
*/

// Bootstrap JS specific classname, do not rename ...

.fade {
    opacity: 0;
    transition: opacity $animation-duration-beta;

    &.show {
        opacity: 1;
    }
}

// Bootstrap JS specific classname, do not rename ...
.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    overflow: hidden;
    outline: 0;

    &.fade .p-modal__dialog {
        transition: transform $animation-duration-gamma;
        transform: translate(50px, 0);
    }

    &.show .p-modal__dialog {
        transform: translate(0, 0);
    }

    .modal-open & {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Shell div to position the modal with bottom padding
.p-modal__dialog {
    position: relative;
    width: auto;
    min-height: 100vh;

    @include mq(bp5) {
        // Automatically set modal's width and align right for larger viewports
        max-width: 750px;
        margin-left: auto;
    }
}

// Actual modal
.p-modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: palette(color-neutral, x-light);
    background-clip: padding-box;
    color: palette(color-neutral, xx-dark);
    box-shadow: 0 0 40px palette(color-neutral, xx-dark);
    // Remove focus outline from opened modal
    outline: 0;
}

.p-modal__header {
    position: relative;
}

.p-modal__title {
    position: absolute;
    bottom: 0;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(palette(color-neutral, xx-dark), .5);
    letter-spacing: 1px;
    color: palette(color-neutral, x-light);
    @include ms5(1.5);
    @include padding-lr(2,2);
    @include padding-tb(2,2);

    @include mq(bp3) {
        @include ms7(2);
    }

    @include mq(bp4) {
        @include ms8(2.25);
        @include padding-tb(2,2);
        @include padding-lr(3,3);
    }
}

.p-modal__subtitle {
    color: palette(color-neutral);
    @include ms0;
}

.p-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    background: palette(color-neutral, xx-dark);
    color: palette(color-neutral, x-light);
    border: 0;
    appearance: none;
    font-size: 30px;
    line-height: 1;
}

.p-modal__body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when should there be a fixed height on `.p-modal__dialog`.
    flex: 1 1 auto;
    @include padding-lr(2,2);
    @include padding-tb(2,2);

    @include mq(bp5) {
        @include padding-tb(3,3);
        @include padding-lr(3,3);
    }

    & + & {
        padding-top: 0;
    }
}

.p-modal__meta {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid palette(color-neutral, light);
    font-weight: $beta-font-weight;
    @include ms-1();
    @include margin-bottom(2);
    @include padding-bottom(2);
}

.p-modal__footer {
    display: flex;
    align-items: center;
    @include padding-lr(1,1);
    @include padding-tb(1,1);

    // Easily place margin between footer elements
    > :not(:first-child) {
        margin-left: .25rem;
    }

    > :not(:last-child) {
        margin-right: .25rem;
    }
}

// JS related classname
// Cannot be renamed ...

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(palette(color-neutral, xx-dark), .6);

    &.fade {
        opacity: 0;
    }

    &.show {
        opacity: 1;
    }
}
