//
//  Default settings
//  ---
//
//  Global
//  ---
//  Colors
//  Modular scale
//  Font settings
//  UI (border-radius, -width, -style)
//  Z-indexes
//  Breakpoints
//  Grid
//  Increments
//  Animations
//
//  Element settings
//  ---
//  Page
//  Typography
//  Images
//  Forms
//  Tables
//
//  Object settings
//  ---
//  Grid
//  Media
//
//  Utilities
//  ---
//  Debug
//

// ---
// Colors
// ---

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors
$color-neutral:                      #aaa;

$color-alpha:                        #B6956B;
$color-beta:                         #3D9970;

$color-error:                        #FF4136;
$color-success:                      #2ECC40;
$color-notice:                       #0074D9;

// Palettes
$palettes: (
    color-neutral: (
        x-light:                     hsl(hue($color-neutral),0,100),
        light:                       hsl(hue($color-neutral),0,90),
        base:                        $color-neutral,
        dark:                        hsl(hue($color-neutral),0,30),
        x-dark:                      hsl(hue($color-neutral),0,20),
        xx-dark:                      hsl(hue($color-neutral),0,0)
    ),
    color-alpha: (
        light:                       hsl(hue($color-alpha),50,60),
        base:                        $color-alpha,
        dark:                        hsl(hue($color-alpha),30,48),
        x-dark:                      hsl(hue($color-alpha),30,15)
    ),
    color-beta: (
        light:                       hsl(hue($color-beta),60,60),
        base:                        $color-beta,
        dark:                        hsl(hue($color-beta),70,25),
        x-dark:                      hsl(hue($color-beta),70,15)
    ),
    color-error: (
        light:                       hsl(hue($color-error),70,60),
        base:                        $color-error,
        dark:                        hsl(hue($color-error),100,35),
    ),
    color-success: (
        light:                       hsl(hue($color-success),70,60),
        base:                        $color-success,
        dark:                        hsl(hue($color-success),100,35),
    ),
    color-notice: (
        light:                       hsl(hue($color-notice),70,60),
        base:                        $color-notice,
        dark:                        hsl(hue($color-notice),100,35),
    )
);


// ---
// Modular scale
// ---

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3:                   11;
$ms-2:                   12;
$ms-1:                   14;
$ms0:                    16;
$ms1:                    18;
$ms2:                    21;
$ms3:                    23;
$ms4:                    28;
$ms5:                    31;
$ms6:                    37;
$ms7:                    42;
$ms8:                    50;
$ms9:                    56;
$ms10:                   67;
$ms11:                   75;
$ms12:                   89;
$ms13:                   100;

// ---
// Font settings
// ---

$alpha-font-family:      'flama book', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$beta-font-family:       'flama condensed', sans-serif;
$gamma-font-family:      'flama semicondensed', sans-serif;

$alpha-font-size:        $ms0;

$alpha-font-weight:      400;
$beta-font-weight:       700;

$alpha-line-height:      1.5;

$alpha-leading:          1;
$beta-leading:           2;

// ---
// UI
// ---

$radius:                 0;
$border-width:           1px;
$border-style:           solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha:               1,
    beta:                2,
    gamma:               3,
    delta:               4,
    epsilon:             5
);

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1:                 320 / 16 * 1em,
    bp2:                 375 / 16 * 1em,
    bp3:                 410 / 16 * 1em,
    bp4:                 760 / 16 * 1em,
    bp5:                 1024 / 16 * 1em,
    bp6:                 1440 / 16 * 1em
);

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter:                       .5;

// Define the amount of columns in the grid
$columns: (
    1,
    2,
    3,
    5,
    12
);

// ---
// Increments
// ---

$increments: (
    0:                              0,
    1:                              .5,
    2:                              1,
    3:                              1.5,
    4:                              2
);

// ---
// Animations
// ---

$animation-duration-alpha:              .1s;
$animation-duration-beta:               .3s;
$animation-duration-gamma:              .5s;
$animation-easing-alpha:                ease-in-out;
$animation-easing-beta:                 cubic-bezier(.68, -.55, .265, 1.55); // bouncy

// ---
// Page
// ---

$html-font-family:                      $alpha-font-family;
$html-font-weight:                      $alpha-font-weight;
$html-font-size:                        $alpha-font-size;
$html-line-height:                      $alpha-line-height;

$html-responsive-font-size:             false;
$html-responsive-font-breakpoint:       bp5;
$html-responsive-font-magnification:    112.5%;

$html-background-color:                 palette(color-neutral,xx-dark);
$body-color:                            palette(color-neutral,x-light);

$body-font-smoothing:                   true;

$body-selection-background-color:       palette(color-neutral,dark);
$body-selection-color:                  palette(color-neutral,light);
$body-selection-text-shadow:            none;

// ---
// Typography
// ---

$h1-font-family:                        $beta-font-family;
$h1-font-weight:                        $beta-font-weight;
$h1-font-size:                          $ms6;
$h1-line-height:                        2;
$h1-margin-bottom:                      $alpha-leading;

$h2-font-family:                        $beta-font-family;
$h2-font-weight:                        $beta-font-weight;
$h2-font-size:                          $ms6;
$h2-line-height:                        1.5;
$h2-margin-bottom:                      $alpha-leading;

$h3-font-family:                        $beta-font-family;
$h3-font-weight:                        $beta-font-weight;
$h3-font-size:                          $ms4;
$h3-line-height:                        1;
$h3-margin-bottom:                      $alpha-leading;

$h4-font-family:                        $beta-font-family;
$h4-font-weight:                        $beta-font-weight;
$h4-font-size:                          $ms1;
$h4-line-height:                        .75;
$h4-margin-bottom:                      $alpha-leading;

$h5-font-family:                        $beta-font-family;
$h5-font-weight:                        $beta-font-weight;
$h5-font-size:                          $ms0;
$h5-line-height:                        1;
$h5-margin-bottom:                      $alpha-leading;

$h6-font-family:                        $beta-font-family;
$h6-font-weight:                        $beta-font-weight;
$h6-font-size:                          $ms0;
$h6-line-height:                        1;
$h6-margin-bottom:                      $alpha-leading;

$base-font-size:                        $alpha-font-size;
$base-line-height:                      1;
$base-margin-bottom:                    $alpha-leading;
$base-indent:                           2;

$blockquote-font-style:                 normal;
$blockquote-font-size:                  $ms0;
$blockquote-line-height:                1;
$blockquote-margin-bottom:              $alpha-leading;

$small-font-size:                       $ms-1;
$small-line-height:                     1;
$small-margin-bottom:                   $alpha-leading;

$horizontal-rule-border-width:          1px 0 0;
$horizontal-rule-border-style:          solid;
$horizontal-rule-border-color:          palette(color-neutral,light);

$horizontal-rule-margin-top:            0;
$horizontal-rule-margin-bottom:         $alpha-leading;

$link-transition:                       none;

$link-decoration:                       none;
$link-decoration--hover:                none;

$link-color:                            palette(color-alpha);
$link-color--visited:                   palette(color-alpha);
$link-color--hover:                     palette(color-alpha,light);
$link-color--focus:                     palette(color-alpha,light);

$link-outline:                          0;
$link-outline--focus:                   thin dotted;

// ---
// Images
// ---

$img-max-width:                         100%;
$img-border:                            0;

// ---
// Forms
// ---

$fieldset-border:                       0;
$fieldset-margin-bottom:                $alpha-leading;

$legend-font-size:                      $alpha-font-size;
$legend-line-height:                    $alpha-line-height;
$legend-margin-bottom:                  $alpha-leading;

$label-font-size:                       $alpha-font-size;
$label-line-height:                     $alpha-line-height;
$label-margin-bottom:                   $alpha-leading;

$placeholder-font-family:               $alpha-font-family;
$placeholder-font-style:                italic;
$placeholder-color:                     palette(color-neutral, light);

$firefox-inner-border-fix:              true;

// ---
// Tables
// ---

$table-font-family:                     $alpha-font-family;
$table-align:                           left;

$caption-font-family:                   $alpha-font-family;
$caption-font-weight:                   $beta-font-weight;
$caption-align:                         center;
$caption-margin-bottom:                 $alpha-leading;
$caption-padding-bottom:                $alpha-leading;

// ---
// Grid
// ---

$grid-property:                         'flex';
$grid-max-width:                        1280px;
$grid-gutter:                           $columns-gutter;

// ---
// Media
// ---

$media-object-gutter:                   $columns-gutter;
$media-object-margin-bottom:            $alpha-leading;

// ---
// Media-embed
// ---

$media-embed-ratio:                     56.25%;
$media-embed-margin-bottom:             $alpha-leading;

// ---
// Debug
// ---

$debug-mode:                            false; // toggles the debug mode
