/*
    Utilities: Modular Scale
    ---
*/

.u-ms-2 {
    @include ms-2();
}

.u-ms-1 {
    @include ms-1();
}

.u-ms0 {
    @include ms0();
}

.u-ms1 {
    @include ms1();
}

.u-ms2 {
    @include ms2();
}

.u-ms3 {
    @include ms3();
}

.u-ms4 {
    @include ms4();
}
