---
layout: default
title: Shift Annual Report
section: booklet
---

<div class="o-parallax-container">
    <!-- Page header -->
    {% include page-header.html %}
    <!-- End page header -->

    {% include headmast-booklet.html %}

    <div class="c-row">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-justify-center">
                <div class="o-grid__item u-1-of-1 u-1-of-2-bp4">
                    <h2 class="u-text-center">Download</h2>
                    <form>
                        <div class="o-grid o-grid--gutter">
                            <div class="o-grid__item u-1-of-2">
                                <p>
                                    <label for="firstname" class="c-label">Firstname</label>
                                    <input id="firstname" type="text" name="" value="" class="c-input-text c-input-text--md">
                                </p>
                            </div>
                            <div class="o-grid__item u-1-of-2">
                                <p>
                                    <label for="name" class="c-label">Name</label>
                                    <input id="name" type="text" name="" value="" class="c-input-text c-input-text--md">
                                </p>
                            </div>
                        </div>
                        <p>
                            <label for="name" class="c-label">E-mail</label>
                            <input id="email" type="email" name="" value="" class="c-input-text c-input-text--md">
                        </p>
                        <p>
                            <label for="name" class="c-label">Company</label>
                            <input id="email" type="email" name="" value="" class="c-input-text c-input-text--md">
                        </p>
                        <p>
                            <label for="name" class="c-label">E-mail</label>
                            <input id="email" type="email" name="" value="" class="c-input-text c-input-text--md">
                        </p>
                        <div class="u-text-center u-pt-3">
                            <button class="c-button c-button--lg c-button--alpha">Download</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Page footer -->
    {% include page-footer.html %}
    <!-- End page footer -->
</div>
