---
layout: default
title: Shift the game
section: game
---

<table bgcolor="#000000" style="background-color:#000000;width:500px;margin:0;" width="500">
    <tr>
        <td style="color:#ffffff;width:250px;" width="250">
            <a href="http://www.shift18.com"><img src="/img/png/email-signature.png" alt="" width="250"></a>
        </td>
        <td style="color:#ffffff;width:230px;font-family:Arial, sans-serif;font-size:16px;line-height:1.35em;padding:10px;" width="230">
            Save the date for our boutique conference on <strong>October 18th in Ghent.</strong>
            <a href="http://www.shift18.com" style="font-weight:bold;font-size:16px;color:#DDBC88;text-decoration:underline;">Register now</a>
        </td>
    </tr>
</table>
