---
layout: default
title: Shift the game
section: game
---

<table bgcolor="#262626" style="background-color:#262626;width:500px;margin:0;" width="500">
    <tr>
        <td style="color:#ffffff;width:250px;" width="250">
            <a href="http://www.shift18.com"><img src="/img/png/email-signature-report.png" alt="" width="250"></a>
        </td>
        <td style="color:#ffffff;width:230px;font-family:Arial, sans-serif;font-size:16px;line-height:1.35em;padding:10px;" width="230">
            <strong>Download Shift!</strong><br>
            In The Pocket's annual report on the next big digital trends.
            <a href="https://www.shift18.com/report" style="font-weight:bold;font-size:16px;color:#DDBC88;text-decoration:underline;">Get it now</a>
        </td>
    </tr>
</table>
