---
layout: default
title: Shift the game
section: game
---

    <!-- Page header -->
    {% include page-header.html %}
    <!-- End page header -->

    {% include headmast-game.html %}

    <div class="c-row u-pt-0 u-pb-0">
        <div class="o-container">
            <div class="c-card c-card--beta">
                <div class="o-grid o-grid--gutter-lg">
                    <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                        <h3 class="u-color-alpha-base">Company</h3>
                        <p>Get inspired by companies who are digitally in the lead, like Airbnb, Simple or OpenTable. Apply their best practices to your business.</p>
                    </div>
                    <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                        <h3 class="u-color-alpha-base">Technology</h3>
                        <p>Discover powerful or emerging technologies such as Augmented Reality, Blockchain or Voice.</p>
                    </div>
                    <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                        <h3 class="u-color-alpha-base">Trend</h3>
                        <p>Unlock the potential of business models or consumer behaviour, like as-a-Service, Marketplaces or Personalisation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-row">
        <div class="o-container">
            <div class="o-grid o-flex--column">
                <div class="o-grid__item u-1-of-1 u-3-of-5-bp4">
                    <div class="o-media-embed u-mb-0">
                        <iframe src="https://player.vimeo.com/video/272222563?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="o-grid__item o-align-self-end u-1-of-1 u-3-of-5-bp4">
                    <div class="c-card c-card--alpha">
                        <h2 class="u-color-alpha-base">Kickstart your idea generation</h2>
                        <p class="c-typo-lead">Shift is a card game. There are no spades, clubs, hearts or diamonds though. Instead, you’ll be playing with 75 powerful technologies, impressive companies and ground-breaking trends.</p>
                        <p>
                            We've hand-picked these examples to give you digital inspiration you can work with.<br>
                            Use it to boost energy levels before a workshop and increase creativity. Generate a high volume of new ideas, or get a fresh take on your existing product. There's many ways to play.<br>
                            We've included a few ways in to play in the manual, but we'll gladly help out if you have a specific challenge.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-row">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg o-justify-center">
                <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                    <blockquote class="c-typo-quote">
                        <p><img class="u-radius-round" src="/img/jpg/headshot-01.jpg" alt="speaker name" width="50"></p>
                        <p>Shift: The Game is a great tool for innovation meetings. It helps our team get in an innovative mindset and find new ideas. We especially like using it to trigger us with new technologies or trends when thinking about concepts.</p>
                        <footer class="c-typo-quote__footer">
                            Gertjan Dewaele<br>
                            Innovation Manager, Ingenico
                        </footer>
                    </blockquote>
                </div>
                <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                    <blockquote class="c-typo-quote">
                        <p><img class="u-radius-round" src="/img/jpg/headshot-01.jpg" alt="speaker name" width="50"></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <footer class="c-typo-quote__footer">
                            John Doe<br>
                            R&D Manager, KBC Bank
                        </footer>
                    </blockquote>
                </div>
                <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                    <blockquote class="c-typo-quote">
                        <p><img class="u-radius-round" src="/img/jpg/headshot-01.jpg" alt="speaker name" width="50"></p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <footer class="c-typo-quote__footer">
                            John Doe<br>
                            Innovation Manager, Ingenico
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <!-- Page footer -->
    {% include page-game-footer.html %}
    <!-- End page footer -->
