---
layout: default
title: Home
section: home
---

<!-- Page header -->
{% include page-header.html %}
<!-- End page header -->

{% include headmast-home.html %}

<div id="about" class="c-row">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-justify-center">
            <div class="o-grid__item u-1-of-1 u-8-of-12-bp4 u-3-of-5-bp5">
                <p class="c-typo-lead c-typo-lead--lg c-typo-dropcap" data-dropcap="G">Get inspired by hands-on workshops and top speakers in the field and shift your company towards digital success. We’ve selected 4 flavours, cherry-pick your favourites.</p>

                <div class="o-grid o-grid--gutter-lg o-justify-center">
                    <div class="o-grid__item u-1-of-1 u-1-of-2-bp4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at dolor nec orci euismod malesuada. Vestibulum est justo, ultricies ut elit quis, suscipit fermentum lorem. Donec ut auctor purus.</p>
                    </div>
                    <div class="o-grid__item u-1-of-1 u-1-of-2-bp4">
                        <p>Vivamus ac ipsum tincidunt leo tincidunt commodo. Duis rutrum dignissim sapien, sed dignissim odio gravida vel. Sed posuere dignissim gravida. Sed sodales lorem neque, eget dictum sapien pharetra in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="speakers" class="c-row" data-paroller-factor="0.5" style="background: url(img/svg/bg-speakers.svg) center 0 / contain no-repeat;">
    <div class="o-container">
        <div class="c-speaker-overview">
            <svg id="code-04" class="svg-code-04" width="340px" height="60px" viewBox="0 0 340 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                    <rect class="svg-rect" style="animation-delay:.5s; animation-duration:3s;" transform-origin="350px 27px" fill="#FFFFFF" fill-rule="nonzero" x="250" y="27" width="100" height="20"></rect>
                    <rect class="svg-rect" style="animation-delay:1s; animation-duration:5s;" transform-origin="350px 47px" fill="#FFFFFF" fill-rule="nonzero" x="150" y="47" width="200" height="10"></rect>
                    <rect class="svg-rect" style="animation-delay:1.25s; animation-duration:4s;" transform-origin="220px 0px" fill="#A59567" fill-rule="nonzero" x="30" y="0" width="220" height="10"></rect>
                    <rect class="svg-rect" style="animation-delay:.25s; animation-duration:3s;" transform-origin="0 37px" fill="#FFFFFF" fill-rule="nonzero" x="0" y="37" width="60" height="20"></rect>
                </g>
            </svg>
            <svg id="code-03" class="svg-code-03" width="310px" height="60px" viewBox="0 0 310 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                    <rect class="svg-rect" style="animation-delay:.5s; animation-duration:3s;" transform-origin="0 0" fill="#FFFFFF" fill-rule="nonzero" x="0" y="0" width="100" height="10"></rect>
                    <rect class="svg-rect" style="animation-delay:1s; animation-duration:5s;" transform-origin="100px 0" fill="#FFFFFF" fill-rule="nonzero" x="0" y="30" width="100" height="20"></rect>
                    <rect class="svg-rect" style="animation-delay:.25s; animation-duration:3s;" transform-origin="100px 50px" fill="#FFFFFF" fill-rule="nonzero" x="100" y="50" width="60" height="10"></rect>
                    <rect class="svg-rect" style="animation-delay:1.25s; animation-duration:4s;" transform-origin="220px 0" fill="#A59567" fill-rule="nonzero" x="150" y="0" width="140" height="20"></rect>
                </g>
            </svg>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">10:00</div>
                <div>Welcome</div>
            </div>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">10:30</div>
            </div>
            <div class="c-speaker-overview__entry">
                <figure class="c-speaker-overview__image" data-aos="animSpeaker" data-aos-offset="400">
                    <img src="img/jpg/speaker-01.jpg" alt="Jeroen Lemaire">
                    <div class="c-speaker-overview__mask"></div>
                </figure>
                <div class="c-speaker-overview__desc">
                    <h2 class="c-title-section">Is your business ready for the next digital shifts?</h2>
                    <p class="c-typo-micro">Jeroen Lemaire - CEO</p>
                    <p>In 5 to 10 years powerful technologies will set the stage for innovations that are beyond the reach of even the most creative minds today. How do you stay relevant as a company in the turbulent times ahead?</p>
                    <p>Jeroen Lemaire, CEO of In The Pocket, asks Dominique Leroy (CEO, Proximus), Bart de Smet (Ageas) and Kris Vervaet (CEO, de Persgroep) how they cope with the next big shifts in their industries.</p>
                </div>
            </div>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">11:15</div>
            </div>
            <div class="c-speaker-overview__entry c-speaker-overview__entry--rev">
                <figure class="c-speaker-overview__image" data-aos="animSpeaker" data-aos-offset="400">
                    <img src="img/jpg/speaker-02.jpg" alt="Kenny Deriemaecker">
                    <div class="c-speaker-overview__mask"></div>
                </figure>
                <div class="c-speaker-overview__desc">
                    <h2 class="c-title-section">AR as a feature</h2>
                    <p class="c-typo-micro">Kenny Deriemaecker - AR Lead</p>
                    <p>In addition to creating new standalone apps, both Apple's ARKit and Google's counterpart, ARCore, offer companies an opportunity to engage users of their existing apps with new AR features. Adding “AR as a feature” to your existing app can offer value to your customers and engage them in new ways.</p>
                </div>
            </div>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">12:00</div>
                <div>Lunch</div>
            </div>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">13:00</div>
            </div>
            <div class="c-speaker-overview__entry">
                <figure class="c-speaker-overview__image" data-aos="animSpeaker" data-aos-offset="400">
                    <img src="img/jpg/speaker-03.jpg" alt="Mattias Vanderoost">
                    <div class="c-speaker-overview__mask"></div>
                </figure>
                <div class="c-speaker-overview__desc">
                    <h2 class="c-title-section">Transforming self-servicing with AI</h2>
                    <p class="c-typo-micro">Mattias Vanderoost - Digital Manager - Telenet</p>
                    <p>Together with Telenet we developed an intuitive AR solution to assist Telenet customers in the self-installation of their Digicorder. We implemented AI to create a smart interface that recognizes any Digicorder cable that a user is holding in his hands.</p>
                    <p>Matthias Vanderoost (Digital Manager Telenet) shares how he transformed the customer experience of Telenet clients with an AI-based self-service.</p>
                </div>
            </div>
            <div class="c-speaker-overview__time" data-aos="animTime" data-aos-offset="200">
                <span></span>
                <div class="u-color-alpha-base">14:00</div>
                <div>Drinks and Networking</div>
            </div>
            <div class="u-text-center">
                <a href="#!" class="c-button c-button--lg c-button--alpha">Register now</a>
            </div>
        </div>
    </div>
</div>

<div id="tickets" class="c-row">
    <div class="o-container">
        <h2 class="c-title-section">Tickets</h2>
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                <a href="#!" class="c-card c-card--alpha c-card--link">
                    <h3 class="u-color-alpha-base">Early Bird</h3>
                    <p>About early bird tickets, perks and so on. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu orci lobortis magna malesuada vehicula.</p>
                    <div class="c-card__footer">
                        <span class="c-button c-button--md c-button--alpha">Register</span>
                        <strong class="c-typo-price">€180</strong>
                    </div>
                </a>
            </div>
            <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                <a href="#!" class="c-card c-card--alpha c-card--link">
                    <h3 class="u-color-alpha-base">Regular</h3>
                    <p>About early bird tickets, perks and so on. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu orci lobortis magna malesuada vehicula.</p>
                    <div class="c-card__footer">
                        <span class="c-button c-button--md c-button--alpha">Register</span>
                        <strong class="c-typo-price">€180</strong>
                    </div>
                </a>
            </div>
            <div class="o-grid__item u-1-of-1 u-1-of-3-bp4">
                <div class="c-card c-card--alpha is-disabled">
                    <h3 class="u-color-alpha-base">Lazy bird</h3>
                    <p>About early bird tickets, perks and so on. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu orci lobortis magna malesuada vehicula.</p>
                    <div class="c-card__footer">
                        <span class="c-button c-button--md c-button--alpha">Register</span>
                        <strong class="c-typo-price">€180</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-container">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item">
                <figure class="c-venue">
                    <img class="c-venue__image" src="img/jpg/venue.jpg" alt="venue" data-paroller-factor="-0.1" data-paroller-type="foreground">
                    <div class="c-venue__details">
                        <div class="u-1-of-1 u-4-of-12-bp4">
                            <div class="c-card c-card--alpha u-mb-0">
                                <h2 class="u-color-alpha-base">Venue</h2>
                                <p>Shift is Ghent. So we chose a unique location in the heart of this vibrant city. Nest is a creative hub in the former city library of Ghent. Combined with King Albert Park, the perfect location for Shift during summer.</p>
                                <a href="#!" class="c-link c-link--arrow">Get directions <img class="c-link__arrow" src="img/svg/arrow-right-link.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="u-1-of-1 u-6-of-12-bp4">
                            <figure>
                                <img src="img/jpg/map.jpg" alt="map">
                            </figure>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="c-row">
    <div class="o-container">
        <h2 class="u-text-center">Sponsors</h2>
        <div class="o-grid">
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-01.png" width="110" />
            </div>
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-02.png" width="110" />
            </div>
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-01.png" width="110" />
            </div>
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-02.png" width="110" />
            </div>
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-01.png" width="110" />
            </div>
            <div class="o-grid__item u-1-of-3 u-2-of-12-bp4 u-text-center">
                <img src="img/png/sponsor-02.png" width="110" />
            </div>
        </div>
    </div>
</div>

<!-- Page footer -->
{% include page-footer.html %}
<!-- End page footer -->


{% include modal-speaker.html %}
