---
layout: default
title: Podcasts for creatives
section: podcast
---

<div class="o-parallax-container">

    <!-- Page header -->
    {% include page-header.html %}
    <!-- End page header -->

    {% include headmast-podcast.html %}

    <div class="c-row u-pt-0">
        <div class="o-container">
            <div class="o-grid o-justify-center">
                <div class="o-grid__item u-1-of-1 u-1-of-2-bp3">
                    <div class="o-media-embed">
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/556841415&color=%23b6956b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                </div>
                <div class="o-grid__item u-1-of-1 u-1-of-3-bp3">
                    <div class="c-card c-card--alpha">
                        <h2 class="u-color-alpha-base">The link between AI and AR</h2>
                        <p><small><strong>14 January 2019</strong></small></p>
                        <p>According to AR expert Helen Papagiannis, who gave the closing keynote at Shift 18, there's a natural link between augmented reality and artificial intelligence. Our AI Lead Kenny Deriemaeker and our AR Lead Kenny Helsens recently joined us in our studio for an interview on this topic!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page footer -->
    {% include page-footer.html %}
    <!-- End page footer -->

</div>
