<div class="c-headmast">
    <div class="c-headmast__body">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-align-center">
                <div class="o-grid__item u-1-of-1 u-1-of-2-bp4">
                    <h1 class="c-title-page">{{ page.title }}</h1>
                    <p class="c-typo-lead">
                        In The Pocket's annual report on the next big digital trends. 10&nbsp;shifts that will set the digital agenda in the coming years.
                    </p>
                    <hr class="c-typo-rule">
                    <ol>
                        <li>AI First</li>
                        <li>Why you need a design system</li>
                        <li>Augemented superpowers</li>
                        <li>Enter the API Economy</li>
                        <li>The power of components</li>
                        <li>Everyday innovation</li>
                        <li>The project trap</li>
                        <li>Roadmap to success</li>
                        <li>In your (inter)face</li>
                        <li>Orchestrate shipping, not servers</li>
                    </ol>
                </div>
                <div class="o-grid__item u-1-of-1 u-1-of-2-bp4">
                    <figure class="u-text-center">
                        <img src="/img/png/booklet-2018.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
