<div class="c-headmast">
    <picture class="c-headmast__background">
        <source media="(max-width: 760px)" srcset="/img/png/bg-headmast-mobile.png">
        <img src="/img/png/bg-headmast-podcast.png" alt="">
    </picture>
    <div class="c-headmast__body">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-align-center">
                <div class="o-grid__item u-1-of-1 u-6-of-12-bp4">
                    <h1 class="c-title-page">{{ page.title }}</h1>
                    <p class="c-typo-lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
