<div class="c-headmast c-headmast--lg">
    <div class="c-headmast__video">
        <video autoplay playsinline muted loop data-paroller-factor="-0.2" data-paroller-type="foreground">
            <source src="img/video/totems.mp4" type="video/mp4" />
        </video>
    </div>
    <picture class="c-headmast__background is-hidden-bp4">
        <source srcset="img/png/bg-headmast-ai-mobile.png" media="(max-width: 760px)">
        <img src="img/png/bg-headmast-home.png" alt="">
    </picture>
    <div class="c-headmast__body">
        <div class="o-container">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-3-of-5-bp5 u-push-1-of-12-bp5">
                    <h1 class="c-title-intro c-title-animation">
                        <span>From</span>
                        <span>Mobile&nbsp;first</span>
                        <span>to AI&nbsp;first</span>
                    </h1>
                    <h2 class="u-color-alpha-base">19.03.19</h2>
                </div>
            </div>
            <div class="u-text-center">
                <a href="#!" class="c-button c-button--lg c-button--alpha">Register now</a>
            </div>
        </div>
    </div>
    <div class="c-headmast__next">
        <a href="#about" class="c-link c-link--neutral"><img class="c-link__arrow" src="img/svg/arrow-left.svg" alt=""> About Shift 2018</a>
    </div>
</div>
