<div class="c-headmast">
    <picture class="c-headmast__background">
        <source media="(max-width: 760px)" srcset="/img/png/bg-headmast-mobile.png">
        <img src="/img/png/bg-headmast-game.png" alt="">
    </picture>
    <div class="c-headmast__body">
        <div class="o-container">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-1 u-6-of-12-bp4">
                    <h1 class="c-title-page">{{ page.title }}</h1>
                    <p class="c-typo-lead">
                        Shift The Game is an innovation card game to kickstart ideation. You’ll be playing with 75 powerful technologies, impressive companies and ground-breaking trends. It will help you create or improve digital products or services.
                    </p>
                    <p class="u-pt-3">
                        <a href="#!" class="c-button c-button--lg c-button--alpha">Buy now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
