{% if page.section != 'home' %}
    <p class="c-logo c-logo--shift">
        <a href="/index.html" class="c-logo__link">
{% else %}
    <h1 class="c-logo c-logo--shift">
{% endif %}

    {{ site.title }}

{% if page.section != 'home' %}
        </a>
    </p>
{% else %}
    </h1>
{% endif %}
