<div class="p-modal fade" id="modal-speaker" tabindex="-1" role="dialog" aria-labelledby="modalSpeaker" aria-hidden="true">
    <div class="p-modal__dialog modal-dialog" role="document">
        <article class="p-modal__content">
            <div class="p-modal__header">
                <button type="button" class="p-modal__close close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
                <img src="img/jpg/modal-header.jpg" alt="modal image">
                <h1 class="p-modal__title">Health transformation in the cognitive era</h1>
            </div>
            <div class="p-modal__body">
                <div class="p-modal__meta">
                    <span>10:00 - 11:00, Location name</span>
                    <span class="u-color-alpha-base">Business</span>
                </div>
                <p class="c-typo-lead">Little introduction. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="p-modal__body">
                <div class="o-grid o-grid--gutter">
                    <div class="o-grid__item u-1-of-2 u-3-of-12-bp3">
                        <img class="u-mb-2 u-radius-round" src="img/jpg/headshot-01.jpg" alt="speaker name" width="80">
                        <h4 class="u-mb-1">Dominique Leroy</h4>
                        <p class="u-mb-1 u-ms-1">CEO Proximus</p>
                        <p>
                            <a href="#!"><img src="img/svg/twitter-link.svg" alt="" width="18"></a>
                            <a href="#!"><img src="img/svg/linkedin-link.svg" alt="" width="18"></a>
                        </p>
                    </div>
                    <div class="o-grid__item u-1-of-2 u-3-of-12-bp3">
                        <img class="u-mb-2 u-radius-round" src="img/jpg/headshot-02.jpg" alt="speaker name" width="80">
                        <h4 class="u-mb-1">Jeroen Lemaire</h4>
                        <p class="u-mb-1 u-ms-1">CEO In The Pocket</p>
                        <p>
                            <a href="#!"><img src="img/svg/twitter-link.svg" alt="" width="18"></a>
                            <a href="#!"><img src="img/svg/linkedin-link.svg" alt="" width="18"></a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
