<nav class="c-nav-mobile js-nav-mobile">
    <ul class="o-list c-nav-mobile__list">
        <li class="c-nav-mobile__item">
            <a href="{{ site.github.url }}/" class="c-nav-mobile__link">The event</a>
        </li>

        {% for item in site.navigation %}
            <li class="c-nav-mobile__item">
                <a href="{{ site.github.url }}/{{ item.url }}" class="c-nav-mobile__link">{{ item.title | capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
