<a href="#!" class="c-nav-trigger js-nav-trigger">
    <span class="is-hidden">Open menu</span>
    <span class="c-nav-trigger__top"></span>
    <span class="c-nav-trigger__middle"></span>
    <span class="c-nav-trigger__bottom"></span>
</a>
