<footer class="c-row">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item u-1-of-1">
                <h1 class="c-title-cta u-text-center">
                    Questions?
                    <svg id="code-04" class="svg-code-04" width="340px" height="60px" viewBox="0 0 340 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <rect class="svg-rect" style="animation-delay:.5s; animation-duration:3s;" transform-origin="350px 27px" fill="#FFFFFF" fill-rule="nonzero" x="250" y="27" width="100" height="20"></rect>
                            <rect class="svg-rect" style="animation-delay:1s; animation-duration:5s;" transform-origin="350px 47px" fill="#FFFFFF" fill-rule="nonzero" x="150" y="47" width="200" height="10"></rect>
                            <rect class="svg-rect" style="animation-delay:1.25s; animation-duration:4s;" transform-origin="220px 0px" fill="#A59567" fill-rule="nonzero" x="30" y="0" width="220" height="10"></rect>
                            <rect class="svg-rect" style="animation-delay:.25s; animation-duration:3s;" transform-origin="0 37px" fill="#FFFFFF" fill-rule="nonzero" x="0" y="37" width="60" height="20"></rect>
                        </g>
                    </svg>
                    <svg id="code-03" class="svg-code-03" width="310px" height="60px" viewBox="0 0 310 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <rect class="svg-rect" style="animation-delay:.5s; animation-duration:3s;" transform-origin="0 0" fill="#FFFFFF" fill-rule="nonzero" x="0" y="0" width="100" height="10"></rect>
                            <rect class="svg-rect" style="animation-delay:1s; animation-duration:5s;" transform-origin="100px 0" fill="#FFFFFF" fill-rule="nonzero" x="0" y="30" width="100" height="20"></rect>
                            <rect class="svg-rect" style="animation-delay:.25s; animation-duration:3s;" transform-origin="100px 50px" fill="#FFFFFF" fill-rule="nonzero" x="100" y="50" width="60" height="10"></rect>
                            <rect class="svg-rect" style="animation-delay:1.25s; animation-duration:4s;" transform-origin="220px 0" fill="#A59567" fill-rule="nonzero" x="150" y="0" width="140" height="20"></rect>
                        </g>
                    </svg>
                </h1>
                <p class="c-typo-caps u-text-center">Want to speak at Shift or become a sponsor?</p>
                <p class="u-text-center u-pt-3"><a href="#!" class="c-button c-button--lg c-button--alpha">Contact us</a></p>
            </div>
            <div class="o-grid__item u-1-of-1">
                <ul class="o-list o-flex o-justify-center u-pt-4">
                    <li>
                        <a href="#!" class="c-link-social"><img src="/img/svg/icon-twitter.svg" alt="Twitter" width="28"></a>
                    </li>
                    <li>
                        <a href="#!" class="c-link-social"><img src="/img/svg/icon-instagram.svg" alt="Instagram" width="28"></a>
                    </li>
                    <li>
                        <a href="#!" class="c-link-social"><img src="/img/svg/icon-facebook.svg" alt="Facebook" width="17"></a>
                    </li>
                </ul>
            </div>
            <div class="o-grid__item u-1-of-1">
                <div class="u-text-center">
                    <a href="http://www.inthepocket.com"><img src="/img/svg/logo-itp.svg" alt="In The Pocket" width="50"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
