<div class="js-nav-holder c-header">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item o-flex o-justify-space-between">

                {% include logo-shift.html %}

                {% include nav-main.html %}

            </div>
        </div>
    </div>
</div>

{% include nav-mobile.html %}
