<div class="c-row">
    <div class="o-container">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-1">
                <h2 class="c-title-section">Schedule</h2>
            </div>
            <div class="o-grid__item u-1-of-1">
                <div class="c-timeline">
                    <div class="c-timeline__slots">
                        <span>10:00</span>
                        <span>11:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                        <span>20:00</span>
                    </div>
                    <div class="c-timeline__tracks">
                        <div class="c-timeline__col">
                            <div class="c-timeline__header">
                                <h4 class="u-mb-0">Business</h4>
                            </div>
                            <div class="c-timeline__item-wrapper">
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:1px; height:199px;">
                                    <div>
                                        <p class="c-timeline__title">Health transformation in the cognitive era</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire, Dominique Leroy</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <div class="c-timeline__event c-timeline__event--break" style="top:201px;height:99px;">
                                    <span>Lunch break</span>
                                </div>
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:301px; height:99px;">
                                    <div>
                                        <p class="u-mb-0">Workshop: Agile has grown up</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:401px; height:150px;">
                                    <div>
                                        <p class="u-mb-0">Health transformation in the cognitive era</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire, Dominique Leroy</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <div class="c-timeline__event c-timeline__event--main" style="top:701px;height:99px;">
                                    <span>Panel event</span>
                                </div>
                                <div class="c-timeline__event c-timeline__event--end" style="top:801px;height:299px;">
                                    <span>Party time</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-timeline__col">
                            <div class="c-timeline__header">
                                <h4 class="u-mb-0">Design</h4>
                            </div>
                            <div class="c-timeline__item-wrapper">
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:50px; height:50px;">
                                    <div>
                                        <p class="c-timeline__title">Workshop: Agile has grown up</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:301px; height:99px;">
                                    <div>
                                        <p class="u-mb-0">Health transformation in the cognitive era</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire, Dominique Leroy</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <a href="#!" class="c-timeline__item" data-toggle="modal" data-target="#modal-speaker" style="top:401px; height:150px;">
                                    <div>
                                        <p class="u-mb-0">Workshop: Agile has grown up</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="c-timeline__col">
                            <div class="c-timeline__header">
                                <h4 class="u-mb-0">Tech</h4>
                            </div>
                            <div class="c-timeline__item-wrapper">
                                <a href="#!" class="c-timeline__item" style="top:32px; height:129px;">
                                    <div>
                                        <p class="u-mb-0">Health transformation in the cognitive era</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire, Dominique Leroy</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <a href="#!" class="c-timeline__item" style="top:301px; height:150px;">
                                    <div>
                                        <p class="u-mb-0">Workshop: Agile has grown up</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                                <a href="#!" class="c-timeline__item" style="top:450px; height:150px;">
                                    <div>
                                        <p class="u-mb-0">Health transformation in the cognitive era</p>
                                        <strong class="u-ms-1 u-color-neutral-base">Jeroen Lemaire, Dominique Leroy</strong>
                                    </div>
                                    <div class="o-flex o-justify-space-between">
                                        <strong class="u-ms-1">10:00 - 11:00</strong>
                                        <strong class="u-ms-1">Location name</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
