<div id="speakers" class="c-row">
    <div class="o-container">
        <div class="o-grid o-align-center">
            <div class="o-grid__item">
                <h2 class="c-title-section">Speakers</h2>
            </div>
            <div class="o-grid__item u-text-right">
                <img src="/img/svg/title-code-01.svg" alt="">
            </div>
        </div>
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-2 u-1-of-3-bp3 u-1-of-5-bp5">
                <div class="c-speaker" data-toggle="modal" data-target="#modal-speaker">
                    <img class="c-speaker__image" src="img/jpg/headshot-01.jpg" alt="speaker name">
                    <h3 class="c-speaker__name">Dominique Leroy</h3>
                    <p class="c-speaker__title">CEO Proximus</p>
                    <p class="c-speaker__track">Business</p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2 u-1-of-3-bp3 u-1-of-5-bp5">
                <div class="c-speaker" data-toggle="modal" data-target="#modal-speaker">
                    <img class="c-speaker__image" src="img/jpg/headshot-02.jpg" alt="speaker name">
                    <h3 class="c-speaker__name">Jeroen Lemaire</h3>
                    <p class="c-speaker__title">CEO In The Pocket</p>
                    <p class="c-speaker__track">Business</p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2 u-1-of-3-bp3 u-1-of-5-bp5">
                <div class="c-speaker" data-toggle="modal" data-target="#modal-speaker">
                    <img class="c-speaker__image" src="img/jpg/headshot-01.jpg" alt="speaker name">
                    <h3 class="c-speaker__name">Dominique Leroy</h3>
                    <p class="c-speaker__title">CEO Proximus</p>
                    <p class="c-speaker__track">Business</p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2 u-1-of-3-bp3 u-1-of-5-bp5">
                <div class="c-speaker" data-toggle="modal" data-target="#modal-speaker">
                    <img class="c-speaker__image" src="img/jpg/headshot-02.jpg" alt="speaker name">
                    <h3 class="c-speaker__name">Jeroen Lemaire</h3>
                    <p class="c-speaker__title">CEO In The Pocket</p>
                    <p class="c-speaker__track">Business</p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2 u-1-of-3-bp3 u-1-of-5-bp5">
                <div class="c-speaker" data-toggle="modal" data-target="#modal-speaker">
                    <img class="c-speaker__image" src="img/jpg/headshot-01.jpg" alt="speaker name">
                    <h3 class="c-speaker__name">Dominique Leroy</h3>
                    <p class="c-speaker__title">CEO Proximus</p>
                    <p class="c-speaker__track">Business</p>
                </div>
            </div>
        </div>
    </div>
</div>
