<div id="tracks" class="c-row">
    <div class="o-container">
        <div class="o-grid o-align-center">
            <div class="o-grid__item">
                <h2 class="c-title-section">Tracks</h2>
            </div>
            <div class="o-grid__item u-text-right">
                <img src="/img/svg/title-code-02.svg" alt="">
            </div>
        </div>
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-1 u-1-of-2-bp3 u-1-of-3-bp4">
                <h3>Business</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisl mauris, lacinia id sem at, viverra imperdiet sem. Donec mollis, tortor id venenatis ullamcorper, lacus mauris rhoncus dui, vel mollis ex turpis tincidunt ligula.</p>
            </div>
            <div class="o-grid__item u-1-of-1 u-1-of-2-bp3 u-1-of-3-bp4">
                <h3>Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisl mauris, lacinia id sem at, viverra imperdiet sem. Donec mollis, tortor id venenatis ullamcorper, lacus mauris rhoncus dui, vel mollis ex turpis tincidunt ligula.</p>
            </div>
            <div class="o-grid__item u-1-of-1 u-1-of-2-bp3 u-1-of-3-bp4">
                <h3>Tech</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisl mauris, lacinia id sem at, viverra imperdiet sem. Donec mollis, tortor id venenatis ullamcorper, lacus mauris rhoncus dui, vel mollis ex turpis tincidunt ligula.</p>
            </div>
        </div>
    </div>
</div>
